<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ocl/3.1.0/CompleteOCLCST" 
       class = "org.eclipse.ocl.examples.xtext.completeocl.completeOCLCST.CompleteOCLCSTPackage"
       genModel = "model/CompleteOCLCST.genmodel" /> 
  </extension>

  <extension point="org.eclipse.core.contenttype.contentTypes">
	<content-type id="org.eclipse.ocl.examples.completeOCL" name="%completeOCLName" 
		base-type="org.eclipse.core.runtime.text"
		file-extensions="ocl"
        default-charset="UTF-8"/>
  </extension>

</plugin>
