<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Eclipse OCL API Base Line" sequenceNumber="6">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="3.1.0.v20110606-1427"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="3.1.0.v20110606-1427"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
